### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()



summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

summary_df.style.format({'Average Price':"${:.2f}", 'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group by Gender
gender_stats = purchase_data.groupby("Gender")

# Choose a Column of gender_stats that reflects the correct count
percentage_of_players = (gender_stats.count()["SN"]/total_players) * 100
total_count = gender_stats.count()["SN"]

gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count})
gender_demographics.index.name = None
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count = gender_stats["Purchase ID"].count()
avg_purchase_price = gender_stats["Price"].mean()
avg_purchase_total = gender_stats["Price"].sum()
avg_purchase_per_person = (gender_stats["Price"].sum())/purchase_count
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, "Average Purchase Total":avg_purchase_total, "Average Purchase Total per Person": avg_purchase_per_person})
gender_demographics.index.name = "Gender"
gender_demographics.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

age_grouped = purchase_data.groupby("Age Group")
total_count = age_grouped["Age"].count()
percentage_by_age = (age_grouped.count()["Age"]/total_players) * 100

age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purchase_count_age = age_grouped["Purchase ID"].count()
avg_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()
avg_purchase_per_person_age = (age_grouped["Price"].sum())/purchase_count_age
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": avg_purchase_price_age, "Total Purchase Value":total_purchase_value, "Average Purchase Total per Person": avg_purchase_per_person_age})
age_demographics.index.name = None
age_demographics.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spender_stats = purchase_data.groupby("SN")
purchase_count_spender = spender_stats["Purchase ID"].count()
avg_purchase_price_spender = spender_stats["Price"].mean()
avg_purchase_total_spender = spender_stats["Price"].sum()
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender, "Average Purchase Price": avg_purchase_price_spender, "Total Purchase Value":avg_purchase_total_spender})
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, "Item Price": item_price, "Total Purchase Value":purchase_value})
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})